html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 40px 20px;
  gap: 20px;
  background-color: #f8f8f8;
  background-image: linear-gradient(#ececec 1px, transparent 1px), linear-gradient(to right, #ececec 1px, #f8f8f8 1px);
  background-size: 2vw 2vw;
  overflow-x: clip;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -20px;
  top: -20px;
  padding: 10px 30px;
  gap: 10px;
  flex-basis: 100vw;
  flex-shrink: 0;
  background-color: #f8f8f8;
  border-bottom: 2px solid teal;
  text-shadow: 0 0 2px #ececec;
}

.heading {
  flex: 3 1 0%;
}

input {
  height: 40px;
  flex: 0 1 20%;
  font-size: 1.2rem;
  overflow-x: hidden;
}

button {
  flex: 0 0 50px;
  height: 50px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: teal;
}

@media (max-width: 550px) {
  header {
    flex-wrap: wrap;
  }

  input {
    flex-grow: 1;
  }

  .heading {
    flex: 0 0 100%;
  }
}

h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  color: rgb(230, 230, 230);
  text-shadow: 0 0 2px black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: calc((100% - 20px * 3) / 4);
  height: 300px;
  border: 2px solid teal;
  clip-path:
    polygon(0 0,
      calc(100% - 20px) 0,
      100% 20px,
      100% 100%,
      0 100%);
}

@media (max-width: 400px) {
  body {
    background-size: 5vw 5vw;
  }

  .card {
    flex-basis: 100%;
  }
}

@media (min-width: 401px) and (max-width: 550px) {
  body {
    background-size: 4vw 4vw;
  }

  .card {
    flex-basis: calc((100% - 20px * 1) / 2);
  }
}

@media (min-width: 551px) and (max-width: 900px) {
  body {
    background-size: 3vw 3vw;
  }

  .card {
    flex-basis: calc((100% - 20px * 2) / 3);
  }
}

.card::before {
  position: absolute;
  content: "";
  top: -16px;
  right: -16px;
  width: 30px;
  height: 30px;
  border: 2px solid teal;
  transform: rotate(45deg);
}

.caption {
  background-color: rgb(230, 230, 230, 0.8);
  padding: 5px 10px;
  border-top: 1px solid rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}

.caption::after {
  content: '⇪';
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -99;
}

.hidden {
  position: absolute;
  background-color: rgb(230, 230, 230, 0.8);
  padding: 5px 10px;
  z-index: -999;
}

.hidden p {
  display: flex;
  justify-content: space-between;
}

.hidden p:nth-child(1)::before {
  content: 'Also known as:';
}

.hidden p:nth-child(3)::before {
  content: 'Born:';
}

.hidden p:nth-child(5)::before {
  content: 'Currently:';
}

.hidden p:nth-child(7)::before {
  content: 'Portrayed by:';
}

.card:hover .hidden {
  position: static;
  z-index: 1;
}

.card:hover .caption::after {
  content: '';
}